NEXT_PUBLIC_SUPABASE_URL=https://xgzcywcmtvoybqtvpxnz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnemN5d2NtdHZveWJxdHZweG56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODcyODA1NTYsImV4cCI6MjAwMjg1NjU1Nn0.e5IkKNoOxrF7RsDR0-ZHHYjGn_nBfGgJQARjx9A5QnY